<html>
<head>
    <title>Mangalert</title>
</head>
<body>
    <h4>New post from {{ team.name }} !</h4>
    A new post named <a href="{{ post.link }}">{{ post.title }}</a> as been published. You can go to read it by clicking on the link below.
    <br />
    <br />
    -----------------------------------------------------------------
    <br />
    <a href="{{ post.link }}">{{ post.link }}</a>
    <br />
    -----------------------------------------------------------------
    <br />
    <br />
    You are receiving this e-mail message because you have registered to alerts at <a href="http://www.mangalerts.com">www.mangalerts.com</a>
</body>
</html>