<html>
<head>
    <title>Mangalerts</title>
</head>
<body>
    <h4>You are the best!</h4>
    Your alerts has been successfully saved.
    <br />
    <br />
    Before receiving alerts, you need to <strong>confirm your email address</strong> by clicking on the activation link below
    <br />
    <br />
    -----------------------------------------------------------------
    <br />
    <a href="http://{{ server }}/alerts/activate/{{ code }}/{{ hash }}">http://{{ server }}/alerts/activate/{{ code }}/{{ hash }}</a>
    <br />
    -----------------------------------------------------------------
    <br />
    <br />
    All the alerts will be sent to <em>{{ email }}</em>.
    <br />
    You can <strong>edit your alerts</strong> by clicking on the link below <em>(your email will not be displayed)</em>.
    <br />
    <br />
    -----------------------------------------------------------------
    <br />
    <a href="http://{{ server }}/alert/{{ code }}/{{ hash }}">http://{{ server }}/alert/{{ code }}/{{ hash }}</a>
    <br />
    -----------------------------------------------------------------
    <br />
    <br />
    You are receiving this e-mail message because you have registered to alerts at <a href="http://www.mangalerts.com">www.mangalerts.com</a>
</body>
</html>