{% extends "layout/base.twig" %}

{% block content %}
    <div class="row">
        <div class="span5">
            <div class="step clearfix">
                <i class="icon-search icon-4x icon-muted pull-left"></i> <h2>{{ 'home.title1'|trans }}</h2>
                <p class="lead">
                    {{ 'home.text1'|trans }}
                </p>
                <div class="page-header"></div>
            </div>
            <div class="step clearfix">
                <i class="icon-save icon-4x icon-muted pull-left"></i> <h2>{{ 'home.title2'|trans }}</h2>
                <p class="lead">
                    {{ 'home.text2'|trans }}
                </p>
                <div class="page-header"></div>
            </div>
            <div class="step clearfix">
                <i class="icon-envelope-alt icon-4x icon-muted pull-left"></i> <h2>{{ 'home.title3'|trans }}</h2>
                <p class="lead">
                    {{ 'home.text3'|trans({'%a%': '<a href="#email-example" data-toggle="modal">', '%b%': '</a>'}) | raw }}
                </p>
            </div>
        </div>
        <div class="span7">
            <h2><i class="icon-circle-arrow-right"></i> {{ 'home.form_title'|trans }}</h2>
            <div class="row">
                <div class="span3">
                    <form novalidate action="{{ path('homepage') }}" method="post">
                        {{ form_errors(form) }}
                        {% for key,field in form if 'hidden' not in field.all['block_prefixes'] %}
                            <div class="control-group {% if field.vars.errors|length > 0 %}error{% endif %}">
                                {{ form_label(field, null, { 'label_attr': {'class': 'control-label'}}) }}
                                <div class="controls">
                                    {% set attr = field.all['attr'] %}

                                    {% if (attr['add-on'] is defined) and (attr['add-on'] != '') %}
                                        <div class="input-{{ attr['add-on'] }}">
                                        {% if (attr['add-on'] == 'prepend') and (attr['add-on-text'] != '') %}
                                            <span class="add-on">{{ attr['add-on-text'] }}</span>
                                        {% endif %}
                                    {% endif %}

                                        {{ form_widget(field) }}

                                        {% if (attr['add-on'] is defined) and (attr['add-on-text'] != '') %}
                                            {% if attr['add-on'] == 'append' %}
                                                <span class="add-on">{{ attr['add-on-text'] }}</span>
                                            {% endif %}
                                        {% endif %}

                                    {% if (attr['add-on'] is defined) and (attr['add-on'] != '') %}
                                        </div>
                                    {% endif %}

                                    {% if attr['data-help'] is defined and attr['data-help'] is not empty %}
                                        <p class="help-block">{{ attr['data-help'] }}</p>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                        {{ form_rest(form) }}
                        <div class="control-group">
                            <label class="control-label"></label>
                            <div class="controls">
                                <input class="btn btn-info" type="submit" name="submit" value="{{ 'home.form_btn'|trans }}" />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="span4">
                    <h4>{{ 'home.topten'|trans|raw }}</h4>
                    {% if topten %}
                        <ol>
                            {% for team in topten if team.url is not empty %}
                                <li><a href="#" attr-value="{{ team.id }}" class="topten-team"><i class="icon-plus-sign"></i> {{ team.name }}</a> (<a class="site" href="{{ team.url }}">{{ 'home.team_url'|trans }}</a>)</li>
                            {% endfor %}
                        </ol>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer_js %}
    {{ parent() }}
    {% include "block/email_example.twig" %}
{% endblock %}