{% extends "layout/base.twig" %}

{% block content %}
    <div class="row">
        <div class="span5">
            <h2><i class="icon-bookmark"></i> {{ 'team.title'|trans }}</h2>
            <form action="{{ path('team_submit') }}" method="post" class="form-horizontal">
                {{ form_errors(form) }}
                {% for key,field in form if 'hidden' not in field.all['block_prefixes'] %}
                    <div class="control-group {% if field.vars.errors|length > 0 %}error{% endif %}">
                        {{ form_label(field, null, { 'label_attr': {'class': 'control-label'}}) }}
                        <div class="controls">
                            {% set attr = field.all['attr'] %}

                            {% if (attr['add-on'] is defined) and (attr['add-on'] != '') %}
                            <div class="input-{{ attr['add-on'] }}">
                                {% if (attr['add-on'] == 'prepend') and (attr['add-on-text'] != '') %}
                                    <span class="add-on">{{ attr['add-on-text'] }}</span>
                                {% endif %}
                                {% endif %}

                                {{ form_widget(field) }}

                                {% if (attr['add-on'] is defined) and (attr['add-on-text'] != '') %}
                                    {% if attr['add-on'] == 'append' %}
                                        <span class="add-on">{{ attr['add-on-text'] }}</span>
                                    {% endif %}
                                {% endif %}

                                {% if (attr['add-on'] is defined) and (attr['add-on'] != '') %}
                            </div>
                            {% endif %}

                            {% if attr['data-help'] is defined and attr['data-help'] is not empty %}
                                <p class="help-block">{{ attr['data-help'] }}</p>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
                {{ form_rest(form) }}
                <div class="control-group">
                    <label class="control-label"></label>
                    <div class="controls">
                        <input class="btn btn-inverse" value="{{ 'team.form_btn'|trans }}" type="submit" name="submit" />
                    </div>
                </div>
            </form>
        </div>
        <div class="span7">
            <div class="step clearfix">
                <i class="icon-magic icon-4x icon-muted pull-left"></i> <h2>{{ 'team.title1'|trans }}</h2>
                <p class="lead">
                    {{ 'team.text1'|trans({'%a%': '<a href="#email-example" data-toggle="modal">', '%b%': '</a>'}) | raw }}
                </p>
                <div class="page-header"></div>
            </div>
            <div class="step clearfix">
                <i class="icon-heart icon-4x icon-muted pull-left"></i> <h2>{{ 'team.title2'|trans }}</h2>
                <p class="lead">
                    {{ 'team.text2'|trans|raw }}
                </p>
                <div class="page-header"></div>
            </div>
            <div class="step clearfix">
                <i class="icon-thumbs-down icon-4x icon-muted pull-left"></i> <h2>{{ 'team.title3'|trans }}</h2>
                <p class="lead">
                    {{ 'team.text3'|trans({'%a%': '<a href="/contact">', '%b%': '</a>'}) | raw }}
                </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer_js %}
    {{ parent() }}
    {% include "block/email_example.twig" %}
{% endblock %}