{% extends "layout/base.twig" %}

{% block footer_js %}
{% endblock %}

{% block content %}
    <h2><i class="icon-bookmark"></i> Team Submit</h2>
    <form action="{{ path('team_submit') }}" method="post" class="form-horizontal">
        {{ form_errors(form) }}
        {% for key,field in form if 'hidden' not in field.all['block_prefixes'] %}
            <div class="control-group {% if field.vars.errors|length > 0 %}error{% endif %}">
                {{ form_label(field, null, { 'label_attr': {'class': 'control-label'}}) }}
                <div class="controls">
                    {% set attr = field.all['attr'] %}

                    {% if (attr['add-on'] is defined) and (attr['add-on'] != '') %}
                    <div class="input-{{ attr['add-on'] }}">
                        {% if (attr['add-on'] == 'prepend') and (attr['add-on-text'] != '') %}
                            <span class="add-on">{{ attr['add-on-text'] }}</span>
                        {% endif %}
                        {% endif %}

                        {{ form_widget(field) }}

                        {% if (attr['add-on'] is defined) and (attr['add-on-text'] != '') %}
                            {% if attr['add-on'] == 'append' %}
                                <span class="add-on">{{ attr['add-on-text'] }}</span>
                            {% endif %}
                        {% endif %}

                        {% if (attr['add-on'] is defined) and (attr['add-on'] != '') %}
                    </div>
                    {% endif %}

                    {% if attr['data-help'] is defined and attr['data-help'] is not empty %}
                        <p class="help-block">{{ attr['data-help'] }}</p>
                    {% endif %}
                </div>
            </div>
            {% if btns[loop.index] is defined %}
                <div class="control-group">
                    <label class="control-label">{{ btns[loop.index]['label'] }}</label>
                    <div class="controls">
                        <input type="submit" class="{{ btns[loop.index]['class'] }}" value='{{ btns[loop.index]['value'] }}' >
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        {{ form_rest(form) }}
        <div class="control-group">
            <label class="control-label"></label>
            <div class="controls">
                <input class="btn btn-inverse" type="submit" name="submit" />
            </div>
        </div>
    </form>
{% endblock %}